<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.wzc.scrollerdemo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ScrollDemoActivity"
            android:label="@string/title_activity_scroll_demo"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".ScrollerDemoActivity"
            android:label="@string/title_activity_scroller_demo"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".ScrollerViewPagerActivity"
            android:label="@string/title_activity_scroller_view_pager"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".GetScrollXActivity"
            android:label="@string/title_activity_get_scroll_x"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".BounceableRelativeLayoutActivity">
        </activity>
    </application>

</manifest>